<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Projet_librairie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>voir_livre</display-name>
    <servlet-name>voir_livre</servlet-name>
    <servlet-class>servlet.voir_livre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voir_livre</servlet-name>
    <url-pattern>/voir_livre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherLivre</display-name>
    <servlet-name>AfficherLivre</servlet-name>
    <servlet-class>Librairie.Controleur.AfficherLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherLivre</servlet-name>
    <url-pattern>/AfficherLivre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutLivre</display-name>
    <servlet-name>AjoutLivre</servlet-name>
    <servlet-class>Librairie.Controleur.AjoutLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutLivre</servlet-name>
    <url-pattern>/AjoutLivre</url-pattern>
  </servlet-mapping>
</web-app>